<template>
  <div>
	 
    <el-table :data="tableData" style="width: 100%" @cell-click="cellClick">
      <el-table-column prop="date" label="日期" width="180"></el-table-column>
      <el-table-column prop="name" label="姓名" width="180">
        <template scope="scope ">
          <el-input
            v-focus
            v-if="scope.row.nameedit"
            v-model="scope.row.name"
            placeholder="请输入内容"
            @blur=" scope.row.nameedit = false"
          ></el-input>
          <div style="height:40px ;line-height: 40px;" v-else @click="scope.row.nameedit=true">{{scope.row.name}}</div>
        </template>
      </el-table-column>
      <el-table-column prop="address" label="地址"></el-table-column>
    </el-table>
    <el-button @click="cons">默认按钮</el-button>
  </div>
</template>

  <script>
export default {
  directives: {
    focus: {
      // 指令的定义
      inserted: function(el) {
        el.children[0].focus();
        // el.querySelector("input").focus();
      }
    }
  },
  components:
  data() {
    return {
      tableData: [
        {
          date: "2016-05-02",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1517 弄"
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1519 弄"
        },
        {
          date: "2016-05-03",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1516 弄"
        }
      ],
      editPropty: ["name", "address"]
    };
  },
  mounted() {
    this.tableData.forEach(element => {
      this.editPropty.forEach(i => {
        this.$set(element, i + "edit", false);
      });
    });
    console.log(this.tableData);
  },
  methods: {
    cons() {
      console.log(this.tableData);
    },
    blurHander(row) {
      //  alert("blur")
      row = false;
    },
    cellClick(row, index) {
      console.log(row, index);
    }
  }
};
</script>